.all-proofs {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}

.proof-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.individual-proofs {
  width: 50%;
  font-size: 1em;
  margin: 10px 20px;
}

#moa-aoa {
  width: 100%;
  /* display: flex;
  flex-direction: row-reverse;
  justify-content: center; */
}
